{% extends 'autorage/base.html' %}

{% block content %}
<div>
    <h1>{{car}}</h1>
</div>
<div>
    <div>
        <span><img src="{{ car.photo.url }}" alt="Тут должна быть машина"/></span>
    </div>
    <div style="margin: 10px 0 20px 10px;">
        {{ car.description | linebreaks }}
    </div>
    <div>
        {% for module in car.modules.all %}
            <div>
                <h4>{{module.type}}: {{module.name}}</h4>
            </div>
            <div>
                    <span><img src="{{module.photo.url}}" alt="Тут должен быть модуль"/></span>
            </div>
            <div>
                <p>{{module.description | linebreaks}}</p>
            </div>
        {% endfor %}
    </div>
    <div class="comments">
        <P><br><b>Комментарии</b></P><br>
        {% if comments %}
        <ul>
            {% for c in comments %}
            <li class="comment">{{ c.author }} | {{ c.text }}<br></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}