{% extends 'autorage/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="background-black">
    <div>
        <h1>{{car}}</h1>
    </div>
    <div>
        <div>
            <span><img src="{{ car.photo.url }}" alt="Тут должна быть машина"/></span>
        </div>
        <div style="margin: 10px 0 20px 10px;">
            {{ car.description | linebreaks }}
        </div>
        <div>
            {% for module in car.modules.all %}
                <div>
                    <h4>{{module.type}}: {{module.name}}</h4>
                </div>
                <div>
                        <span><img src="{{module.photo.url}}" alt="Тут должен быть модуль"/></span>
                </div>
                <div>
                    <p>{{module.description | linebreaks}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="comments">
            <P><h3>Комментарии</h3></P>
            {% if is_auth %}
            <form action="{% url 'autorage:car' pk=car.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="input-button">Комментировать</button><br>
            </form>
            {% else %}
            <h3>Войдите, чтобы оставить комментарий</h3>
            {% endif %}
            {% if comments %}
            <ul class="comment" >
                {% for c in comments %}
                <div>
                    <li>{{ c.author }} | {{ c.text }}<br></li>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}