<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'autorage/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <h1>AUTORAGE</h1>
  </div>
  <div>
    <ul>
      {% for car in cars %}
        <li>
          <div>
            <h2 style="">{{car}}</h2>
          </div>
          <div>
            {% for photo in car.carphoto_set.all %}
              <span><img src="{{ photo.photo }}" alt="Тут должна быть машина"/></span>
            {% endfor %}
          </div>
          <div>
            {{ car.description }}
          </div>
            <div>
                {% for module in car.modules.all %}
                    <div>
                        <h4>{{module.type}}: {{module.name}}</h4>
                    </div>
                    <div>
                        {% for photo in module.modulephoto_set.all %}
                            <span><img src="{{photo.photo}}" alt="Тут должен быть модуль"/></span>
                        {% endfor %}
                    </div>
                    <div>
                        <p>{{module.description}}</p>
                    </div>
                {% endfor %}
            </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>