{% extends 'autorage/base.html' %}

{% block content %}
<div>
    <ul>
{% if cars %}
{% for car in cars %}
        <li>
            <div>
                <a href="{% url 'autorage:car' car.pk %}">
                    <span><img src="{{ car.carphoto_set.all.0.photo.url }}" alt="Тут должна быть машина"/></span>
                    <h2>{{car}}</h2>
                </a>
            </div>
        </li>
{% endfor %}
{% else %}
        <li><h1>ТУТ ПОКА НИЧЕГО НЕТ, НО ДОЛЖНЫ БЫТЬ ПУБЛИКАЦИИ</h1></li>
{% endif %}
    </ul>
</div>
{% endblock %}