div{
    margin: 5px 0 0 5px;
}
span{
    margin: 10px 0 0 10px;
}
img{
    max-height: 200px;
    border-radius: 20px;
}
body{
    background: white url("images/btbackground.jpg") no-repeat;
    color: yellow;
}
h1{
    color: deeppink;
    -webkit-text-stroke: 0.5px #FFFFFF;
}
a:link{
    color: yellow;
}
a:hover{
    color: deeppink;
}
a:visited{
    color: yellow;
}